* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    width: 100%;
    height: 100%;
    background-color:#f1d4d4;
}

#header {
    width: 100%;
    height: 350px;
    min-width: 642px;
    background-color: crimson;
}

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 10px;
    padding-inline: 10px;
}

header div.logo {
    display: inline-flex;
    align-items: center;
}

div.logo .icon {
    margin-right: 10px;
}

.icon .fa-bag-shopping {
    color: white;
    font-size: 2rem;
}

.logo .web-name a {
    text-decoration: none;
    color: white;
    font-size: 2rem;
    font-weight: 700;
    font-style: italic;
}

div.nav nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div #login {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    padding: 10px;
}

#login div a {
    display: flex;
    align-items: center;
}

i.fa-user,i.fa-solid {
    font-size: 16px;
    color: white;
}

div.lbutton button {
    background-color: crimson;
    font-size: 16px;
    color: white;
    width: 60px;
    height: 35px;
    border: none;
    cursor: pointer;
}
div.sel-opt .arrow {
    width: 8px;
    height: 8px;
    display: flex;
    align-items: center;
    justify-content: center;

}
div.select {
    display: block;
    background-color: crimson;
    height: 35px;
    color: white;
    outline: none;
}


div.Profile a .pro-icon {
    width: 25px;
    height: 25px;
}

#cart {
    margin-inline: 15px;
}

#cart a {
    display: flex;
    align-items: center;
}

div#cart .cart-button {
    background-color: crimson;
    border-radius: 10px;
}

div.cart-button button {
    background-color: crimson;
    font-size: 16px;
    color: white;
    width: 60px;
    height: 35px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

div#seller .Sbutton {
    background-color: crimson;
    border-radius: 10px;
    margin-inline: 5px;
}

.Sbutton button {
    background-color: crimson;
    font-size: 16px;
    color: white;
    width: 160px;
    height: 35px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.select-menu {
    box-shadow: 2px 2px 2px black;
    height: 150px;
    font-size: 20px;
    gap: 0.5rem;
}

.select-menu a {
    text-decoration: none;
    color: beige;
    
}

.ord-icon img {
    height: 20px;
}

div#search-bar {
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.search-bar {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
}

div.search-icon {
    background-color: white;
    height: 45px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
}

.search-icon i.fa-solid {
    color: gray;
    margin-left: 10px;

}

input[type="search"] {
    height: 45px;
    width: 450px;
    border: none;
    outline: none;
    font-size: 15px;
    color: crimson;
    font-family: 'Times New Roman', Times, serif;
    padding-inline: 12px;
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
}

input[placeholder="Search products brands and more"]:focus {
    font-size: 16px;
}
#main-section{
    min-width: 642px;
    margin: 20px;
}
#main-section main{
    width:100%;
    background-color: white;
    padding:10px;
}
.prod-category{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    scroll-snap-align: start;
    width: 100%;
}
.prod-category a{
    text-decoration: none;
}
div.prod-category div p{
    text-align:center;
    color: #333;
}
.prod-category div p:hover{
    color: crimson;
}
.carousal{
    margin-block:25px;

}
.slider{
    width: 100%;
    display:flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-snap-type:x mandatory;
}
.slider img{
    flex : 1 0 100%;
    scroll-snap-align:start;
    object-fit:cover;
}
.slide-nav{
    display:flex;
    column-gap:1rem;
    position:absolute;
    bottom:1.25rem;
    left:50%;
    transform:translateX(-50%);
    z-index:1;
}
.slide-nav a{
    width:0.5rem;
    height:0.5rem;
    border-radius:50%;
    background-color: #291d1d;
    opacity:0.75;
    transition: opacity ease 250ms;
}
.slide-nav a:hover{
    opacity:1;
}
