*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

div#pass-setup{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items:center;
}
form{
    border:2px solid crimson;
    border-radius: 12px;
    padding: 15px;
}
p{
    color: crimson;
    font-size: 1.8rem;
    font-weight:500;
    text-align: center;
    margin-block: 20px;
}
.set-password{
    margin-block: 10px;
}
div.set-password label{
    font-size: 20px;
    font-weight: 100;
    color: crimson;
}
div.set-password input{
    width: 300px;
    height: 35px;
    font-size: 18px;
    color: crimson;
    border-left: none;
    border-top:none;
    border-right:none;
    border-bottom: 2px solid crimson;
}
div.con-password{
    margin-block: 10px;
}
div.con-password label{
    font-size: 20px;
    font-weight: 100;
    color: crimson;
}
div.con-password input{
    width: 300px;
    height: 35px;
    font-size: 18px;
    color: crimson;
    border-left: none;
    border-top:none;
    border-right:none;
    border-bottom: 2px solid crimson;
}
div.button{
    margin-block: 10px;
}
div.button button{
    margin: 0 auto;
    height:45px;
    width: 300px;
    background-color: rgb(224, 82, 110);
}
div.button a{
    color: white;
    font-size:16px;
    text-decoration:none;
    cursor:pointer;
}
button:hover{
    background-color: crimson;
    font-size: 18px;
    font-weight: 700;
}





